@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    overflow-x: hidden;

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    
    margin: 0;
    padding: 0;
}

#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  .btn{
    background: linear-gradient(45deg,#726bff,#57b6fe);
    color:#ffffff
  }
  .btn:hover{
    transform: translateY(-3px);
  }
  .clr{
    background: linear-gradient(135deg,#1e0533,#110a1f);
  }
  .image{
    width: 895px;
    height: 875.5px;
    top: 1363px;
    
  }
  .block {
    width: 375.34px;
    height: 375.34px;
    position: absolute;
    top: 280.63px;
    left: 835.02px;
    border-radius: 22.18px;
    border: 2px solid white; 
    transform: rotate(23.6deg); 
    background-color: transparent; 
    
}

 
